@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:wght@300&display=swap');


:root{
  --white: #ffffff;
  --dark-grey: #DFDFDF;
  --easy-brown: #E6DACA;
  --mid-brown: #CBAC8F;
  --strong-brown: #7E6F5C;
  --easy-grey: #4A4A4A;
}
body{
  background-color: var(--dark-grey);
  font-family: 'Roboto Mono', monospace;
}
section{
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.bg-easy-brown {
  background-color: var(--easy-brown);
}
.bg-mid-brown {
  background-color: var(--mid-brown);
}
.container-custom{  
  width: 500px;
  max-width: 96%;
  margin:auto;
  background-color: var(--white);
}
/* ===== 
  Banner
  ===== */

header{
  background-color: var(--easy-brown);
  width: 500px;
  max-width: 100%;
  margin: auto;
  position: relative;
}
.header-flower-top{
  background: url(/img/header-flower-top.png) no-repeat center top;
  width: 100%;
  height: 115px;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-flower-bottom{
  background: url('/img/header-flower-bottom.png') no-repeat bottom;
  width: 100%;
  height: 100px;
  background-size: contain;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}
.content-banner{
  color: var(--easy-grey);
  margin: 20vh 0;
}
.content-banner h2, .content-banner h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--strong-brown);
}
.content-banner img{
  width: 280px;
  max-width: 100%;
  margin: 25px auto;
  display: table;
}
.box{
  background-color: var(--mid-brown);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .8rem;
}
/* ===== 
  Surah Section
  ===== */

.content-surah{
  background-color: var(--strong-brown);
}
.surah-flower-top{
  background: url('/img/surah-flower-top.png') no-repeat center 30px;
  width: 404px;
  max-width: 100%;
  height: 100px;
  background-size:contain;
}
.surah-flower-bottom{
  background: url('/img/surah-flower-bottom.png') no-repeat center top;
  width: 204px;
  max-width: 100%;
  height: 100px;
  background-size: contain;
  margin: auto;
}
/* ===== 
  Couple Section
  ===== */

.content-couple .bismillah-png{
  width: 224px;
  max-width: 100%;
  margin: auto;
  display: table;
}
.content-couple h1, .content-couple h4, .content-couple h5{
  font-family: 'Abril Fatface', cursive;
  color: var(--strong-brown);
}
.content-couple p{
  color: var(--easy-grey);
}
.content-couple .couple-circle{
  max-width: 100%;
  width: 305px;
  margin: auto;
  display: table;
}
/* ===== 
  Maps Section
  ===== */

.content-maps h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--strong-brown);
}
.content-maps img{
  width: 100px;
  margin: auto;
  display: table;
}
.content-maps iframe{
  width:100%;
  height: 250px;
  border:0;
}
.content-maps a{
  border:2px solid var(--strong-brown);
  color:var(--white);
  padding: 10px 15px;
  background-color: var(--strong-brown);
  text-decoration: none;
  border-radius: 50px;
  width: 150px;
  max-width: 100%;
  font-size: .8rem;
  margin: auto;
  transition: all .50s ease-in-out;
}
.content-maps a:hover{
  background-color: var(--white);
  color:var(--strong-brown);
}
/* ===== 
  Akad Section
  ===== */

.content-akad{
  background: var(--strong-brown);
}
.content-akad h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--mid-brown);
}
.content-akad img{
  width: 100px;
  margin: auto;
  display: table;
}
/* ===== 
  Streaming Section
  ===== */

.content-streaming{
  border: 2px solid var(--strong-brown);  
  border-radius: 50px 0 50px 0;
  height: 100vh;
  position: relative;
}
.content-streaming img{
    position: absolute;
    width: 150px;
}
.right-border-flower{
  top:0;
  right: 0;
}
.left-border-flower{
  left:0;
  bottom: 0;
}
.content-streaming h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--strong-brown);
}
.content-streaming a{
  border:2px solid var(--strong-brown);
  color:var(--white);
  padding: 10px 15px;
  background-color: var(--strong-brown);
  text-decoration: none;
  border-radius: 50px;
  width: 220px;
  max-width: 100%;
  font-size: .8rem;
  transition: all .50s ease-in-out;
  max-width: 100%;
  margin: auto;
}
.content-streaming a:hover{
  background-color: var(--white);
  color:var(--strong-brown);
}