@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:wght@300&display=swap');


:root{
  --white: #ffffff;
  --dark-grey: #DFDFDF;
  --easy-gold: #E6DACA;
  --mid-gold: #ffefd1;
  --easy-grey: #4A4A4A;
  --red-maroon: #681619;
  --easy-gold: #e3c998;
}
body{
  background-color: var(--dark-grey);
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}
section{
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.bg-easy-brown {
  background-color: var(--easy-gold);
}
.bg-mid-brown {
  background-color: var(--mid-gold);
}
.container-custom{  
  width: 500px;
  max-width: 96%;
  margin:auto;
  background-color: var(--white);
}
/* ===== 
  Banner
  ===== */

header{
  background-color: var(--easy-gold);
  width: 500px;
  max-width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.header-flower-top{
  background: url(/img/header-flower-top.webp) no-repeat center top;
  width: 100%;
  height: 115px;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-flower-bottom{
  background: url('/img/header-flower-bottom.webp') no-repeat bottom;
  width: 100%;
  height: 100px;
  background-size: contain;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}
.content-banner{
  color: var(--easy-grey);
  margin: 20vh 0;
}
.content-banner h2, .content-banner h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-banner img{
  width: 280px;
  max-width: 100%;
  margin: 25px auto;
  display: table;
}
.box{
  background-color: var(--red-maroon);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .8rem;
}
/* ===== 
  Surah Section
  ===== */

.content-surah{
  background-color: var(--red-maroon);
}
.surah-flower-top{
  background: url('/img/surah-flower-top.webp') no-repeat center 30px;
  width: 404px;
  max-width: 100%;
  height: 100px;
  background-size:contain;
}
.surah-flower-bottom{
  background: url('/img/surah-flower-bottom.webp') no-repeat center top;
  width: 204px;
  max-width: 100%;
  height: 100px;
  background-size: contain;
  margin: auto;
}
/* ===== 
  Couple Section
  ===== */

.content-couple .bismillah-png{
  width: 224px;
  max-width: 100%;
  margin: auto;
  display: table;
}
.content-couple h1, .content-couple h4, .content-couple h5{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-couple p{
  color: var(--easy-grey);
}
.content-couple .couple-circle{
  max-width: 100%;
  width: 305px;
  margin: auto;
  display: table;
}
/* ===== 
  Maps Section
  ===== */

.content-maps h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-maps img{
  width: 100px;
  margin: auto;
  display: table;
}
.content-maps iframe{
  width:100%;
  height: 250px;
  border:0;
}
.content-maps a{
  border:2px solid var(--red-maroon);
  color:var(--red-maroon);
  padding: 10px 15px;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 50px;
  width: 150px;
  max-width: 100%;
  font-size: .8rem;
  margin: auto;
  transition: all .50s ease-in-out;
}
.content-maps a:hover{
  background-color: var(--red-maroon);
  color:var(--white);
}
/* ===== 
  Akad Section
  ===== */

.content-akad{
  background: var(--red-maroon);
}
.content-akad h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--mid-gold);
}
.content-akad img{
  width: 100px;
  margin: auto;
  display: table;
}
/* ===== 
  Streaming Section
  ===== */

.content-streaming{
  border: 2px solid var(--mid-gold);  
  border-radius: 50px 0 50px 0;
  /* height: 80vh; */
  position: relative;
  padding: 100px 0;
}
.content-streaming img.right-border-flower{
  position: absolute;
  width: 150px;
}
.content-streaming img.left-border-flower{
  position: absolute;
  width: 90px;
}
.right-border-flower{
  top:0;
  right: 0;
}
.left-border-flower{
  left:0;
  bottom: 0;
}
.content-streaming h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-streaming a{
  border:2px solid var(--red-maroon);
  color:var(--white);
  padding: 10px 15px;
  background-color: var(--red-maroon);
  text-decoration: none;
  border-radius: 50px;
  width: 220px;
  max-width: 100%;
  font-size: .8rem;
  transition: all .50s ease-in-out;
  max-width: 100%;
  margin: auto;
}
.content-streaming a:hover{
  background-color: var(--white);
  color:var(--red-maroon);
}
/* ===== 
  Ucapan Section
  ===== */

.content-ucapan img{
  width: 100px;
  margin: auto;
  display: table;
}
.content-ucapan h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-ucapan .form-control{
  background-color: #f1f1f1;
  border:none;
}
.content-ucapan input::placeholder, .content-ucapan textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(196, 196, 196);
  opacity: 1; /* Firefox */
}
.content-ucapan input::-ms-input-placeholder, .content-ucapan textarea::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(196, 196, 196);
  opacity: 1; /* Firefox */
}
.content-ucapan input:-ms-input-placeholder, .content-ucapan textarea:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(196, 196, 196);
  opacity: 1; /* Firefox */
}
.content-ucapan button[type="submit"]{
  border:2px solid var(--red-maroon);
  color:var(--red-maroon);
  padding: 10px 15px;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 50px;
  width: 150px;
  max-width: 100%;
  font-size: .8rem;
  margin: auto;
  transition: all .50s ease-in-out;
  display: table;
}
.content-ucapan button[type="submit"]:hover{
  background-color: var(--red-maroon);
  color:var(--white);
}
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--red-maroon);
}
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-radio input:checked ~ .checkmark {
  background-color: var(--red-maroon);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-radio input:checked ~ .checkmark:after {
  display: block;
}
.container-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.scroll-ucapan{
  background-color: var(--dark-grey);
  border-radius: 5px;
  height: 100vh;
  overflow: auto;
}
.card-ucapan{
  padding: 20px;
  border-radius: 5px;
  background-color: var(--white);
}
.content-amplop h4{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-amplop img{
  width: 100px;
  margin: auto;
  display: table;
}
.content-amplop button{
  border:2px solid var(--red-maroon);
  color:var(--red-maroon);
  padding: 10px 15px;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 50px;
  width: 150px;
  max-width: 100%;
  font-size: .8rem;
  margin: auto;
  transition: all .50s ease-in-out;
}
.content-amplop button:hover{
  background-color: var(--red-maroon);
  color:var(--white);
}
/* ===== 
  Firewell Section
  ===== */
.content-farewell h4, .content-farewell h2{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.content-farewell img.circle-flower{
  width: 280px;
  max-width: 100%;
  margin: 25px auto;
  display: table;
}
.content-farewell img{
  width: 100px;
  margin: auto;
  display: table;
}
footer{
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.content-footer a{
  border:2px solid var(--red-maroon);
  color:var(--red-maroon);
  padding: 5px 10px;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 50px;
  width: 100px;
  max-width: 100%;
  font-size: .6rem;
  margin: auto;
  transition: all .50s ease-in-out;
}
.content-footer a:hover{
  background-color: var(--red-maroon);
  color:var(--white);
}

.cover{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--mid-gold);
  z-index: 99;
}
.cover h2{
  font-family: 'Abril Fatface', cursive;
  color: var(--red-maroon);
}
.cover img{
  width: 300px;
  max-width: 96%;
  margin: auto;
  display: table;
  background-color: var(--red-maroon);
  border-radius: 15px;
  padding: 10px;
}
.cover button{
  border:2px solid var(--easy-gold);
  color:var(--white);
  padding: 10px 15px;
  background-color: var(--easy-gold);
  text-decoration: none;
  border-radius: 50px;
  width: 150px;
  max-width: 100%;
  font-size: .8rem;
  margin: auto;
  transition: all .50s ease-in-out;
}
.cover button:hover{
  border:2px solid var(--red-maroon);
  background-color: var(--red-maroon);
  color:var(--white);
}
#play-song{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom:25px;
  right: 25px;
  background-color: var(--red-maroon);
  border:none;
  z-index: 50;
}
.splide{
	width : 100%;
}